h3 {
  background-color: green;
}

body{
  background-image: url(../img/path.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
label{
  background-color:green;
}
.cssDesign, .javaRuby, .csharpPhp{
background-color: green;
display: none;
}
