h1 {
  text-align: center;
}

body{
  background-image: linear-gradient(to bottom right,rgba(0, 255, 0, 0.5), rgba(0, 0, 255, .55));
  background-size: cover;
  background-repeat: no-repeat;
}
label{
  background-color:rgba(255, 0, 0, 0.5);
}
.cssDesign, .javaRuby, .csharpPhp{
background-color: green;
display: none;
}

button{
  color: red;
  padding: 2em 2em 2em 2em;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.55);
  text-decoration-style:wavy;
  text-shadow: 10px;
}
#buttText{
  color:black;
}

#header{
  color:rgba(0, 0, 255, 0.5);
  background-image: linear-gradient(to bottom right,rgba(0, 0, 255, 0.5), rgba(0, 255, 0, 0.5));
}
